<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::cart},false)}">
<!-- Cart Start -->
<div th:fragment="cart" class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                    <form th:each="item, state : ${cart.getItems()}"  th:object="${item}" action="/cart/update/${item.id }">
                        <tr>
                            <td class="align-middle">
                                <img th:src = "'/img/'+*{image}" alt="" style="width: 50px;" >
                                <span th:text="*{nameProduct}"></span>
                            </td>
                            <td class="align-middle" th:text="*{realPrice}">$ Giá sản phẩm</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="qty"
                                           class="form-control form-control-sm bg-secondary text-center" min="0"
                                           th:value="*{quantity}" onKeyPress="return (event.keyCode >= 46 && event.keyCode <=57
                                                          || event.keyCode === 8 ) && event.keycode != 190">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"s></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle" th:text="*{realPrice * quantity}">$ tổng giá</td>
                            <td class="align-middle"><a href="/cart/remove/"
                                                        class="btn btn-sm btn-primary">
                                <i class="fa fa-times"></i>
                            </a></td>
                        </tr>

                    </form>
<!--<tr>-->
<!--    <td th:text="${cart.getCount()}"></td>-->
<!--    <td th:each="item : ${cart.getItems()}">a</td>-->
<!--</tr>-->
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    <input type="text" class="form-control p-4"
                           placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium" th:text="${cart.getAmout()}">$ </h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
<!--                        <h5 class="font-weight-bold">$ ${cart.getAmout()+10 }</h5>-->
                    </div>

                    <a href="/au/checkout" class="btn btn-block btn-primary my-3 py-3 text-white">Proceed
                        To Checkout</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
</html>
