<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::myAccount},false)}">
<div th:fragment="myAccount">
    <!-- My Account Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
<!--                        <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>-->
                        <a class="nav-link active" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                        <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment Method</a>
                        <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">address</a>
                        <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                        <a class="nav-link" href="index.html">Logout</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
<!--                        <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">-->
<!--                            <h4>Dashboard</h4>-->
<!--                            <p>-->
<!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.-->
<!--                            </p>-->
<!--                        </div>-->
                        <div class="tab-pane fade show active" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                    <tr >
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item,state : ${myOder}" th:object="${item}">
                                        <td>[(*{id})]</td>
                                        <td>
                                            <ul>
                                                <li th:each="odt : ${item.orderDetail}" th:object="${odt}">x[(${odt.quantity})] [(${odt.fromProduct.nameProduct})]</li>
                                            </ul>
                                        </td>
                                        <td th:text="*{#dates.format(createdAt, 'dd-MM-yyyy')}"></td>
                                        <td th:text="*{'$' + #numbers.formatDecimal(#aggregates.sum(orderDetail.![price]),  0, 'COMMA', 2, 'POINT')}"></td>
                                        <td>
                                            <th:block th:switch="*{status}">
                                                <span th:case="0" class="text-warning"> Đang Chờ xác nhận</span>
                                                <span th:case="1" class="text-info"> Đã xác nhận</span>
                                                <span th:case="2" class="text-bold"> Đang giao hàng</span>
                                                <span th:case="3" class="text-success"> Đã giao hàng</span>
                                                <span th:case="4" class="text-danger"> Hủy</span>
                                            </th:block>
                                        </td>
                                        <td><button>View</button></td>
                                    </tr>
<!--                                    <tr>-->
<!--                                        <td>1</td>-->
<!--                                        <td>Product Name</td>-->
<!--                                        <td>01 Jan 2020</td>-->
<!--                                        <td>$22</td>-->
<!--                                        <td>Approved</td>-->
<!--                                        <td><button>View</button></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>1</td>-->
<!--                                        <td>Product Name</td>-->
<!--                                        <td>01 Jan 2020</td>-->
<!--                                        <td>$22</td>-->
<!--                                        <td>Approved</td>-->
<!--                                        <td><button>View</button></td>-->
<!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                            <h4>Payment Method</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                            <h4>Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Payment Address</h5>
                                    <p>123 Payment Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button>Edit Address</button>
                                </div>
                                <div class="col-md-6">
                                    <h5>Shipping Address</h5>
                                    <p>123 Shipping Street, Los Angeles, CA</p>
                                    <p>Mobile: 012-345-6789</p>
                                    <button>Edit Address</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                            <h4>Account Details</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Mobile">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Address">
                                </div>
                                <div class="col-md-12">
                                    <button>Update Account</button>
                                    <br><br>
                                </div>
                            </div>
                            <h4>Password change</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="password" placeholder="Current Password">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="New Password">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Confirm Password">
                                </div>
                                <div class="col-md-12">
                                    <button>Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->




<!--    &lt;!&ndash; JavaScript Libraries &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="lib/easing/easing.min.js"></script>-->
<!--    <script src="lib/slick/slick.min.js"></script>-->


<!--    &lt;!&ndash; Template Javascript &ndash;&gt;-->
<!--    <script src="js/main.js"></script>-->
</div>
</html>
